# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
build/
example/pubspec.lock
coverage.lcov
coverage/
packages/stream_feed_flutter/example/.flutter-plugins-dependencies
packages/stream_feed_flutter/example/.flutter-plugins-dependencies

# FVM Version Cache
.fvm/
packages/stream_feed/pubspec_overrides.yaml
packages/stream_feed/example/pubspec_overrides.yaml
packages/stream_feed_flutter/example/pubspec_overrides.yaml
packages/stream_feed_flutter/pubspec_overrides.yaml
packages/stream_feed_flutter_core/example/pubspec_overrides.yaml
packages/stream_feed_flutter_core/pubspec_overrides.yaml
